@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-cormorant);
  --font-mono: var(--font-dm-mono);

  --color-cream: #F5F0E8;
  --color-brown: #1C1009;
  --color-brown-mid: #3D2B1A;
  --color-brown-light: #7A5C42;
  --color-warm: #C8A882;
  --color-accent: #B87333;
}
